{% extends 'baseForm.html.twig' %}

{% block title %}Sign in{% endblock %}

{% block body %}
<form method="post" class="h-100 login-bg">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <div class="container d-flex flex-column justify-content-center align-items-center h-100">
        <div class="row d-flex flex-column h-75">
            <div class="login-panel d-flex flex-column align-items-center justify-content-around">
                <h2 class="h3">Sign in to <a class="link" href = "{{ path('check')}}">Giełda Warzyw</a></h2>

                <label>Username
                <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" required autofocus>
                </label>
                <label>Password
                <input type="password" name="password" id="inputPassword" class="form-control" required>
                </label>

                <p class="text-center">Forgotten password or username? Reset it <a href="#" class="link">here</a></p>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                <div class="row justify-content-center">
                    <button type="submit" class="btn btn-primary mr-4">Sign in</button>
                </div>  
            </div>
        </div>
        

        {# TODO: redirect to passes reset #}
        {# {{ path('reset')}} #}
    </div>
</form>
{% endblock %}
