{% extends 'main/dashboard.html.twig' %}

{% block title %}Indeks{% endblock %}

{% block header %}
    <h1>Stock index</h1>
{% endblock %}

{% block main %}
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <td>Nazwa</td>
                <td>Kurs</td>
                <td>Wolumen</td>
                <td>Kategoria</td>
            </tr>
        </thead>
        <tbody>
            {% for cpn in company %}
            <tr>
                <td>
                    <a href="{{ path('actions', {name: cpn.cpnName}) }}">
                        {{ cpn.cpnName }}
                    </a>
                </td>
                <td>{{ cpn.cpnValue }}</td>
                <td>{{ cpn.cpnVolume }}</td>
                <td>{{ cpn.cpnMarketArea }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


{% endblock %}