{% extends 'main/dashboard.html.twig' %}

{% block title %}Wallet{% endblock %}

{% block header %}
    <h1>User wallet</h1>
{% endblock %}


{% block main %}
<<<<<<< HEAD
    <div class="row mt-3 d-flex flex-column align-items-center justify-content-center">
        <p class="text-center h3 mb-4">
            Wallet details for user {{ user.useFirstName }} {{ user.useLastName }} 
        </p>


        <table class="table table-striped table-bordered col-md-12">
            <thead>
                <tr>
                    <th>Stock</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody>
                {% for wal in wallet %}

                <tr>
                    <td class="text-muted">    
                        {{ wallet.walStock }}    
                    </td>
                    <td class="text-muted">
                        {{ wallet.walAmount }}
                    </td>
                </tr>

                {% endfor %}
            </tbody>
        </table>
    </div>



    
=======
    <h4>To jest portfel</h4>
    <table class="table table-striped">
        <thead>
        <tr>
            <td>Nazwa</td>
            <td>Ilość</td>
        </tr>
        </thead>
        <tbody>
        {% for wal in wallet %}
            <tr>
                <td>
                    <a href="{{ path('actions', {name: wal.walStock}) }}">
                        {{ wal.walStock }}
                    </a>
                </td>
                <td>{{ wal.walAmount }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
>>>>>>> 5b1d46b26ed3c101187e4c6ef84aa0fb3f93682e
{% endblock %}