{% extends 'main/dashboard.html.twig' %}

{% block title %}Wallet{% endblock %}

{% block header %}
    <h1>User wallet</h1>
{% endblock %}


{% block main %}
    <div class="row mt-3 d-flex flex-column align-items-center justify-content-center">
        <p class="text-center h3 mb-4">
            Wallet details for user {{ user.useFirstName }} {{ user.useLastName }} 
        </p>

        <table class="table table-striped table-bordered col-md-12">
            <thead>
                <tr>
                    <th>Stock</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody>
                {% for wal in wallet %}

                <tr>
                    <td class="text-muted">    
                        <a href="{{ path('actions', {name: wal.walStock}) }}">
                        {{ wal.walStock }}
                    </a>  
                    </td>
                    <td class="text-muted">
                        {{ wal.walAmount }}
                    </td>
                </tr>

                {% endfor %}
            </tbody>
        </table>
    </div>



    
{% endblock %}